<div class="container">
  <div class="row">
    <div class="col-md-12 job-detail mt-3 p-4">
      <form>
        <div class="row">

          <div class="col-md-4">
            <div class="form-group app-label">
              <mat-form-field appearance="outline" class="field">
                <mat-label>საქმის ID</mat-label>
                <input matInput name="fileId" [disabled]="true" [(ngModel)]="packageInfo.fileId">
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group app-label">
              <mat-form-field appearance="outline" class="field">
                <mat-label>საქმის ნომერი</mat-label>
                <input matInput name="fileNumber" [disabled]="true" [(ngModel)]="packageInfo.fileNumber">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group app-label">
              <mat-form-field appearance="outline" class="field">
                <mat-label>საქმის ნომერი</mat-label>
                <input matInput name="boxNumber" [disabled]="true" [(ngModel)]="packageInfo.fileStatusName">
              </mat-form-field>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group app-label">
              <section class="example-section">
                <mat-checkbox class="example-margin" color="primary" name="fileNotInBox" (click)="checkedEmptyBox()"
                  [(ngModel)]="packageInfo.fileNotInBox">საქმე არ დევს ყუთში</mat-checkbox>
              </section>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="form-group app-label">
              <mat-form-field appearance="outline" class="field">
                <mat-label>კლიენტის დასახელება</mat-label>
                <input matInput value="" name="clientName"
                  [disabled]="packageInfo.clienNameCorrected == false || packageInfo.fileNotInBox == true"
                  [(ngModel)]="packageInfo.clientName">
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3 col-sm-12">
            <div class="form-group app-label">
              <section class="example-section">

                <mat-checkbox class="example-margin" color="primary" name="clientNameIsCorrect"
                  [disabled]="checkstatus || packageInfo.fileNotInBox == true"
                  [(ngModel)]="packageInfo.clientNameIsCorrect" (ngModelChange)="clientNameIsCorrect($event)">სწორია
                  Name</mat-checkbox>
              </section>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="form-group app-label">
              <section class="example-section">
                <mat-checkbox class="example-margin" color="primary" name="clienNameCorrected"
                  [(ngModel)]="packageInfo.clienNameCorrected"
                  [disabled]="checkstatus || packageInfo.fileNotInBox == true"
                  (ngModelChange)="clienNameCorrected($event)">კორექტირება NAME</mat-checkbox>
              </section>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="form-group app-label">
              <section class="example-section">
                <mat-checkbox class="example-margin" color="primary" name="unambleToCheckName"
                  [disabled]="checkstatus || packageInfo.fileNotInBox == true"
                  [(ngModel)]="packageInfo.unambleToCheckName " (ngModelChange)="unambleToCheckName($event)">ვერ
                  მოწმდება Name</mat-checkbox>
              </section>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-12">
            <div class="form-group app-label">
              <mat-form-field appearance="outline" class="field">
                <mat-label>კლიენტის ID</mat-label>
                <input matInput name="clientId"
                  [disabled]="packageInfo.clientIdCorrected == false || packageInfo.fileNotInBox == true"
                  [(ngModel)]="packageInfo.clientId">
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3 col-sm-12">
            <div class="form-group app-label">
              <section class="example-section">
                <mat-checkbox class="example-margin" color="primary" name="clientIdIsCorrect"
                  [disabled]="checkstatus || packageInfo.fileNotInBox == true"
                  [(ngModel)]="packageInfo.clientIdIsCorrect" (ngModelChange)="clientIdIsCorrect($event)">სწორია ID
                </mat-checkbox>
              </section>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="form-group app-label">
              <section class="example-section">
                <mat-checkbox class="example-margin" color="primary" name="clientIdCorrected"
                  [(ngModel)]="packageInfo.clientIdCorrected "
                  [disabled]="checkstatus || packageInfo.fileNotInBox == true"
                  (ngModelChange)="clientIdCorrected($event)">კორექტირება ID</mat-checkbox>
              </section>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="form-group app-label">
              <section class="example-section">
                <mat-checkbox class="example-margin" color="primary" name="unableToCheckId"
                  [disabled]="checkstatus || packageInfo.fileNotInBox == true" [(ngModel)]="packageInfo.unableToCheckId"
                  (ngModelChange)="unableToCheckId($event)">ვერ მოწმდება ID</mat-checkbox>
              </section>
            </div>
          </div>

        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>დასტას კომენტარი</mat-label>
            <textarea matInput name="datsaComment" placeholder="დაწერე კომენტარი"
              [(ngModel)]="packageInfo.datsaComment"></textarea>
          </mat-form-field>


          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>კლიენტის კომენტარი</mat-label>
            <textarea matInput name="clientComment" [disabled]="true" placeholder="დაწერე კომენტარი"
              [(ngModel)]="packageInfo.clientComment"></textarea>
          </mat-form-field>
        </div>
        <button class="btn btn-primary button my-3" (click)="save(packageInfo)">შენახვა</button>
        <button class="btn btn-primary button mx-2" routerLink="/home/packageitem">უკან</button>
        <button class="btn btn-primary" (click)="finishReleaseFile(packageInfo.fileId)">დასრულება</button>
      </form>
    </div>
  </div>

</div>



<div class="container">
  <div class="row">
    <div class="col-md-12 mt-2">
      <button class="btn btn_add" mat-raised-button matTooltip="დამატება" style="background-color:white"
        (click)="addDocument()">
        <mat-icon>add</mat-icon>
        დოკუმენტის დამატება
      </button>
    </div>
  </div>
</div>

<!-- <div class="container">

  <div class="row">
    <div class="col-md-12 my-1">
      <div class="mat-elevation-z8 packageTable">
        <table mat-table [dataSource]="item.documents" (click)="document($event,item.documentId, item.fileID)">
          <ng-container matColumnDef="documentId">
            <th mat-header-cell *matHeaderCellDef>
              <div>
                <mat-form-field appearance="outline" matTooltip="საბუთის ID" matTooltipPosition="after">
                  <input matInput type="text" class="form-field" placeholder="საბუთის ID">
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let item"> {{item.documentId}} </td>
          </ng-container>

          <ng-container matColumnDef="documentTypeName">
            <th mat-header-cell *matHeaderCellDef>
              <div>
                <mat-form-field appearance="outline" matTooltip="საბუთის ტიპი" matTooltipPosition="after">
                  <input matInput type="number" class="form-field" placeholder="საბუთის ტიპი">
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.documentTypeName}}">
              {{package.documentTypeName}} </td>
          </ng-container>

          <ng-container matColumnDef="notInBox">
            <th mat-header-cell *matHeaderCellDef>
              <div>
                <mat-form-field appearance="outline" matTooltip="არ დევს საქმეში" matTooltipPosition="after">
                  <input matInput placeholder="არ დევს საქმეში">
                </mat-form-field>
              </div>
            </th> -->
<!-- coment <td mat-cell *matCellDef="let package"> {{package.notInBox}} </td> -->
<!-- <td mat-cell *matCellDef="let package; let i = index">
              <mat-checkbox class="example-margin" color="primary" name="unableToCheckId" [(ngModel)]="package.notInBox"
                (change)="checknotInBox(package)"> </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="documentStatusName">
            <th mat-header-cell *matHeaderCellDef>
              <div>
                <mat-form-field appearance="outline" matTooltip="საბუთის სტატუსი" matTooltipPosition="after">
                  <input matInput class="form-field" placeholder="საბუთის სტატუსი">
                </mat-form-field>
              </div>
            </th>
            <td mat-cell *matCellDef="let package"> {{package.documentStatusName}} </td>
          </ng-container>

          <ng-container matColumnDef="additonalInfo">
            <th mat-header-cell *matHeaderCellDef>
              <div>
                <mat-form-field appearance="outline" matTooltip="დამატებითი ინფორმაცია" matTooltipPosition="after">
                  <input matInput class="form-field" placeholder="დამატებითი ინფორმაცია">
                </mat-form-field>
              </div>
            </th>
             <td mat-cell *matCellDef="let package"> {{package.additonalInfo}} </td> -->
<!-- <td mat-cell *matCellDef="let package; let i = index">
              <mat-form-field appearance="outline" class="field">
                <input matInput name="clientId" [(ngModel)]="package.additionalInformation"
                  [disabled]="package.notInBox == true">
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="actionIcons">
            <th mat-header-cell *matHeaderCellDef>ცვლილებების შენახვა</th>
            <td mat-cell *matCellDef="let item">
              <i class="fa fa-save" matTooltip="შენახვა" (click)="savePackage(item, item.documentId)"></i>
              <i *ngIf="(decodedToken.unique_name == 'nino.patashuri@drm.ge' || 
                                    decodedToken.unique_name == 'natia.khvichia' || 
                                    decodedToken.unique_name == 'release@gmail.com') && item.statusId == 7"
                class="fa fa-trash" matTooltip="დოკუმენტის წაშლა" (click)="deletePackage(item.documentId, true)"></i>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
<!-- coment <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
<!-- <tr mat-row *matRowDef="let row; columns: displayedColumns"
            (click)="document($event,row.documentId, row.fileID)"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div> -->


<div class="container">

  <div class="row">
    <div class="col-md-12 my-1">
      <table mat-table [dataSource]="item.documents" multiTemplateDataRows class="mat-elevation-z8">

        <ng-container matColumnDef="documentId">
          <th mat-header-cell *matHeaderCellDef>
            <div>
              <mat-form-field appearance="outline" matTooltip="საბუთის ID" matTooltipPosition="after">
                <input matInput type="text" class="form-field" placeholder="საბუთის ID">
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let item"> {{item.documentId}} </td>
        </ng-container>


        <ng-container matColumnDef="documentTypeName">
          <th mat-header-cell *matHeaderCellDef>
            
              <mat-form-field appearance="outline" matTooltip="საბუთის ტიპი" matTooltipPosition="after">
                <input matInput type="number" class="form-field" placeholder="საბუთის ტიპი">
              </mat-form-field>
            
          </th>
          <td mat-cell *matCellDef="let package" matTooltip="საბუთის ტიპი" matTooltipPosition="after">
            <span placement="bottom" tooltip="{{package.documentTypeName}}">
              {{ package.documentTypeName }}
            </span> 
          </td>
        </ng-container>


        <ng-container matColumnDef="documentStatusName">
          <th mat-header-cell *matHeaderCellDef>
            <div>
              <mat-form-field appearance="outline" matTooltip="საბუთის სტატუსი" matTooltipPosition="after">
                <input matInput class="form-field" placeholder="საბუთის სტატუსი">
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let package"> {{package.documentStatusName}} </td>
        </ng-container>

        <ng-container matColumnDef="countDocument">
          <th mat-header-cell *matHeaderCellDef>
            <div>
              <mat-form-field appearance="outline" matTooltip="რაოდენობა" matTooltipPosition="after">
                <input matInput class="form-field" placeholder="რაოდენობა">
              </mat-form-field>
            </div>
          </th>
          <td mat-cell *matCellDef="let package"> {{package.additionalFields.length}} </td>
        </ng-container>




        <ng-container matColumnDef="notInBox">
          <th mat-header-cell *matHeaderCellDef>
            <div>
              <mat-form-field appearance="outline" matTooltip="არ დევს საქმეში" matTooltipPosition="after">
                <input matInput placeholder="არ დევს საქმეში">
              </mat-form-field>
            </div>
          </th>
          <!-- coment <td mat-cell *matCellDef="let package"> {{package.notInBox}} </td> -->
          <td mat-cell *matCellDef="let package; let i = index">
            <mat-checkbox class="example-margin" color="primary" name="unableToCheckId" [(ngModel)]="package.notInBox"
              (click)="$event.stopPropagation()"
              (change)="checknotInBox(package)"> </mat-checkbox>
          </td>
        </ng-container>




        <ng-container matColumnDef="additonalInfo">
          <th mat-header-cell *matHeaderCellDef>
            <div>
              <mat-form-field appearance="outline" matTooltip="დამატებითი ინფორმაცია" matTooltipPosition="after">
                <input matInput class="form-field" placeholder="დამატებითი ინფორმაცია">
              </mat-form-field>
            </div>
          </th>
          <!-- <td mat-cell *matCellDef="let package"> {{package.additonalInfo}} </td>  -->
          <td mat-cell *matCellDef="let package; let i = index">
            <mat-form-field appearance="outline" class="field">
              <input matInput name="clientId" [(ngModel)]="package.additionalInformation"
                [disabled]="package.notInBox == true"
                (click)="$event.stopPropagation()">
            </mat-form-field>
          </td>
        </ng-container>


        <ng-container matColumnDef="actionIcons">
          <th mat-header-cell *matHeaderCellDef>ცვლილებების შენახვა</th>
          <td mat-cell *matCellDef="let item">
            <i class="fa fa-save" matTooltip="შენახვა" (click)="savePackage(item, item.documentId,$event)" (click)="$event.stopPropagation()"></i>
            <i class="fa fa-edit" matTooltip="დეტალები" (click)="document($event,item.documentId, item.fileID)" (click)="$event.stopPropagation()"></i>
            <i *ngIf="(decodedToken.unique_name == 'nino.patashuri@drm.ge' || 
                          decodedToken.unique_name == 'natia.khvichia' || 
                          decodedToken.unique_name == 'release@gmail.com') && item.statusId == 7" class="fa fa-trash"
              matTooltip="დოკუმენტის წაშლა" (click)="deletePackage(item.documentId, true)" (click)="$event.stopPropagation()"></i>
          </td>
        </ng-container>


















        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="container">

                <div class="row">
                  <div class="col-md-12 my-1">
                    <table mat-table [dataSource]="itemForDocuments.filteredData" multiTemplateDataRows class="mat-elevation-z8">

                      <ng-container matColumnDef="checker1">
                        <th mat-header-cell *matHeaderCellDef>დამატებით ველები</th>
                        <td mat-cell *matCellDef="let item">
                          <span placement="bottom" tooltip="{{item.name}}">
                            {{item.name }}
                          </span> 
                        </td>
                        
                          <input type="text" [(ngModel)]="item.name">
                      </ng-container>

                      <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsforDocument.length">
                        </td>
                      </ng-container>


                      <ng-container matColumnDef="checker2">
                        <th mat-header-cell *matHeaderCellDef>მნიშვნელობა</th>
                        <ng-container >
                          <td mat-cell *matCellDef="let package">{{package.value}}</td>
                        </ng-container>
            
            
                          <input type="text" [(ngModel)]="item.value">
                      </ng-container>

                      <ng-container matColumnDef="checker3">
                        <th mat-header-cell *matHeaderCellDef>სწორია</th>
                        <td mat-cell *matCellDef="let package">
                          <mat-checkbox class="example-margin" color="primary" name="unableToCheckId"
                             [(ngModel)]="package.isCorret">
                          </mat-checkbox>
                        </td>
                      </ng-container>
            
                      <ng-container matColumnDef="checker4">
                        <th mat-header-cell *matHeaderCellDef>ვერ მოწმდება</th>
                        <td mat-cell *matCellDef="let package">
                          <mat-checkbox class="example-margin" color="primary" name="unableToCheckId"
                           
                            [(ngModel)]="package.unableToCheck"></mat-checkbox>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="checker5">
                        <th mat-header-cell *matHeaderCellDef>კორექტირება</th>
                        <td mat-cell *matCellDef="let package; let i = index">
                          <mat-checkbox class="example-margin" color="primary" name="unableToCheckId"
                        [(ngModel)]="package.corrected"
                        (click)="packageAction(package ,i)"
                           ></mat-checkbox>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumnsforDocument"></tr>
                      <tr mat-row *matRowDef="let element; columns: displayedColumnsforDocument;" class="example-element-row"
                        ></tr>
                      <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons>
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>

          </td>
        </ng-container>




        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row" [ngClass]="{'rowcolor-green': element.documentStatusName == 'შემოწმებული','rowcolor-yellow':element.documentStatusName == 'შემოწმებული დაკორექტირებული'}"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element" (click)="getDocuments(element.documentId)">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

      <!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->


      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>

<simple-notifications></simple-notifications>
