
<!-- <div class="container">
  <input type="file" #fileUpload id="fileUpload" name="fileUpload"  (change)="chooseFile($event)" style="margin-top: 30px;" />
  <button
          class="btn btn_add"
          mat-raised-button
          matTooltip="მონაცემების ატვირთვა"
          style="background-color:white;margin-top: 18px;font-size: 14px;color: #6c757d;width: 232px;"
          (click)="uploadFiles()"
        >
          <mat-icon  style="margin-right: 5px;">cloud_upload</mat-icon>
          მონაცემების ატვირთვა
        </button>
 </div>
  -->

  
<div class="container">
  <!-- <label class="chooseFile" for="files">აირჩიეთ ფაილი</label> -->
  <input type="file" #fileUpload id="fileUpload" name="fileUpload"  (change)="chooseFile($event)" style="margin-top: 30px;" />


  <div class="date"
  class="datePiker"
  matTooltip="დასტაზე გადაცემის თარიღი"
  matTooltipPosition="after">
      <input
          class="form-control"
          type="text"
          placeholder="&#xf073; დასტაზე გადაცემის თარიღი"
          style="font-size: 14px; font-family: Arial, FontAwesome; width: 232px; margin-top: 18px;" 
          [(ngModel)]="date"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
      />
  </div>
  <button
          class="btn btn_add"
          mat-raised-button
          matTooltip="მონაცემების ატვირთვა"
          style="background-color:white;margin-top: 18px;font-size: 14px;color: #6c757d;width: 232px;"
          (click)="uploadFiles()"
        >
          <mat-icon  style="margin-right: 5px;">cloud_upload</mat-icon>
          მონაცემების ატვირთვა
        </button>
 </div>
 

