<div class="container">
  <div class="header">
    <p class="question">ნამდვილად გსურთ საქმის წაშლა?</p>
  </div>
<div class="buttons">
    <div class="btn">
        <button
      class="btn btn-success"
      style="color:white; font-size: 14px; font-weight: bold; width: 100px;" (click)="onConfirm()">
      კი
    </button>
      <button
      class="btn btn-danger"
      style="color:white; font-size: 14px;  font-weight: bold; width: 100px;" (click)="closePopup()">
      არა
    </button>
    </div>
  </div>
