<mat-card-content *ngIf="yesOrNo">
    <form>
      <div class="form-group">
        <label class="h6">კომენტარი</label>
        <div class="input-group" style="margin-top:5px">
            <mat-form-field appearance="outline" style="width:100% !important;margin-top:10px;">
                <mat-label>კლიენტის დასახელება</mat-label>
                <input
                  matInput type="text"
                  name="clientName"
                  [(ngModel)]="clientInfo.clientName"
                >
              </mat-form-field>
              <mat-form-field appearance="outline" style="width:100% !important;margin-top:10px;">
                <mat-label>პირადი ნომერი</mat-label>
                <input
                  matInput type="text"
                  name="clientId"
                  [(ngModel)]="clientInfo.clientId"
                >
              </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer *ngIf="yesOrNo">
    <button type="button" class="btn" (click)="addClient(clientInfo)" [disabled]="buttonDisabled">დამატება</button>
  </mat-card-footer>


  <div class="container" *ngIf="!yesOrNo">
    <div class="header">
      <p class="question">ნამდვილად გსურთ საქმის დამატება პაკეტში - <strong style="color: brown;">{{this.packageNumger}}</strong> </p>
    </div>
  <div class="buttons">
      <div class="btn">
          <button
        class="btn btn-success"
        style="color:white; font-size: 14px; font-weight: bold; width: 100px;" (click)="onConfirm()">
        კი
      </button>
        <button
        class="btn btn-danger"
        style="color:white; font-size: 14px;  font-weight: bold; width: 100px;" (click)="closePopup()">
        არა
      </button>
      </div>
    </div>
  



  