<mat-tab-group #tabGroup class="matTabGroup" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="შეკვრა">
    <button class="btn downloadData" mat-raised-button  style="margin-left: 48px; margin-top: 10px;"
            matTooltip="მონაცემების გადმოწერა" (click)="DownloadPackage()">
      <mat-icon>cloud_download</mat-icon>
      მონაცემების გადმოწერა
    </button>
    <div class="container">
        <div class="row">
          <div class="col-md-12 my-1">
            <div class="mat-elevation-z8 packageTable">
              <table mat-table [dataSource]="fillPackage.result">
                <ng-container matColumnDef="boxNumber">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="ყუთის ნომერი" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="ყუთის ნომერი"
                          [(ngModel)]="filter.boxNumber" (keyup.enter)="fillPackageOnFilter(filter.boxNumber)"
                          (keyup.backspace)="fillPackageOnFilter(filter.boxNumber)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let item"> {{item.boxNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="packageNumber">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="პაკეტის ნომერი" matTooltipPosition="after">
                        <input matInput type="text" class="form-field" placeholder="პაკეტის ნომერი"
                          [(ngModel)]="filter.packageNumber" (keyup.enter)="fillPackageOnFilter(filter.packageNumber)"
                          (keyup.backspace)="fillPackageOnFilter(filter.packageNumber)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package"> {{package.packageNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="businessEntity">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="ბიზნეს ერთეული" matTooltipPosition="after">
                        <input matInput placeholder="ბიზნეს ერთეული" [(ngModel)]="filter.businessEntityId"
                          (keyup.enter)="fillPackageOnFilter(filter.fileId)" (keyup.backspace)="fillPackageOnFilter(filter.fileId)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" tooltip="{{package.businessEntityName}}"
                    [adaptivePosition]="false" placement="right"> {{package.businessEntityName}} </td>
                </ng-container>

                <ng-container matColumnDef="documentType">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="დოკუმენტის ტიპი" matTooltipPosition="after">
                        <input matInput class="form-field" placeholder="დოკუმენტის ტიპი" [(ngModel)]="filter.documentTypeId"
                          (keyup.enter)="fillPackageOnFilter(filter.documentTypeId)" (keyup.backspace)="fillPackageOnFilter(filter.documentTypeId)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package"> {{package.documentTypeName}} </td>
                </ng-container>

                <ng-container matColumnDef="documentSubType">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="დოკუმენტის ქვეტიპი" matTooltipPosition="after">
                        <input matInput type="text" class="form-field" placeholder="დოკუმენტის ქვეტიპი"
                          [(ngModel)]="filter.ClientName " (keyup.enter)="fillPackageOnFilter(filter.ClientName )"
                          (keyup.backspace)="fillPackageOnFilter(filter.ClientName )">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.documentSubtypeName}}">
                    {{package.documentSubtypeName}} </td>
                </ng-container>



                <ng-container matColumnDef="startDate">
                  <th mat-header-cell *matHeaderCellDef style="width: 168px;">
                    <div class="bs_datepicker" matTooltip="დაწყების თარიღი" matTooltipPosition="after">
                      <input type="text" class="form-control"  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" #itemDate placeholder="&#xf073; {{'დაწყების თარიღი' }}"
                        style="font-size: 14px; font-family: Arial, FontAwesome" bsDatepicker
                        [(ngModel)]="filter.startDate"  (ngModelChange)="getDate(filter.startDate,'startDate')"
                        (keyup.backspace)="fillPackageOnFilter(filter.startDate)">
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package"> {{package.startDate|date}} </td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                  <th mat-header-cell *matHeaderCellDef style="width: 168px;">
                    <div class="bs_datepicker" matTooltip="დასრულების თარიღი" matTooltipPosition="after">
                      <input type="text" class="form-control" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="filter.endDate" (ngModelChange)="getDate(filter.endDate,'endDate')"  (keyup.backspace)="fillPackageOnFilter(filter.endDate)" #itemDate placeholder="&#xf073; {{'დასრულების თარიღი' }}"
                        style="font-size: 14px; font-family: Arial, FontAwesome" bsDatepicker>
                    </div>

                  </th>
                  <td mat-cell *matCellDef="let package"> {{package.endDate |date}} </td>
                </ng-container>

                <ng-container matColumnDef="registrator">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="პაკეტის რეგისტრატორი" matTooltipPosition="after">
                        <input matInput type="text" class="form-field" placeholder="პაკეტის რეგისტრატორი"
                          [(ngModel)]="filter.userName" (keyup.enter)="fillPackageOnFilter(filter.userName)"
                          (keyup.backspace)="fillPackageOnFilter(filter.userName)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package"> {{package.userName}} </td>
                </ng-container>

                <!--                  <ng-container matColumnDef="creator">-->
                <!--                    <th mat-header-cell *matHeaderCellDef>შემქმნელი</th>-->
                <!--                    <td mat-cell *matCellDef="let package"> {{package.userName}} </td>-->
                <!--                  </ng-containeyr>-->

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="სტატუსი" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="სტატუსი">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.packageStatusName}}">
                    {{package.packageStatusName}} </td>
                </ng-container>
                <ng-container matColumnDef="checkResult">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="შემოწმების შედეგი" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="შემოწმების შედეგი">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.packageCheckStatusName}}">
                    {{package.packageCheckStatusName}} </td>
                </ng-container>

                <ng-container matColumnDef="errorStatus">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="ხარვეზის სტატუსი" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="ხარვეზის სტატუსი (დასტა)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.packageErrorStatusName}}">
                    {{package.packageErrorStatusName}} </td>
                </ng-container>

                <ng-container matColumnDef="errorStatusClient">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="ხარვეზის სტატუსი (კლიენტი)"
                        matTooltipPosition="after">
                        <input matInput type="number" class="form-field"
                          placeholder="ხარვეზის უახლესი სტატუსი (კლიენტი)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right"
                    tooltip="{{package.errorStatusFrmoClientName}}"> {{package.errorStatusFrmoClientName}} </td>
                </ng-container>

                <ng-container matColumnDef="clientComment">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="კლიენტის კომენტარი" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="კლიენტის კომენტარი">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.clientComment}}">
                    {{package.clientComment}} </td>
                </ng-container>

                <ng-container matColumnDef="dastaComments">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="დასტას კომენტარ" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="დასტას კომენტარი">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.comments}}">
                    {{package.comments}} </td>

                </ng-container>




                <ng-container matColumnDef="icons" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <i class="fa fa-check" style="cursor: pointer;" Tooltip="ვეთანხმები"
                      (click)="modalApproveNotApprove(element,true)"> </i>
                    <i class="fa fa-close" style="cursor: pointer;" Tooltip="ხელახლა გადამოწმება"
                      (click)="modalApproveNotApprove(element,false)"> </i>
                  </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></tr> -->
              </table>
            </div>
            <mat-paginator [length]="totalRecords" [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]"
              showFirstLastButtons (page)="pagenation($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
  </mat-tab>
  <mat-tab label="საქმე">
    <button class="btn downloadData" mat-raised-button  style="margin-left: 48px; margin-top: 10px;"
            matTooltip="მონაცემების გადმოწერა" (click)="DownloadFile()">
      <mat-icon>cloud_download</mat-icon>
      მონაცემების გადმოწერა
    </button>
    <div class="container">
        <div class="row">
          <div class="col-md-12 my-1">
            <div class="mat-elevation-z8 packageTable">
              <table mat-table [dataSource]="fillFilePackage.result">
                <ng-container matColumnDef="boxNumber">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="ყუთის ნომერი" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="ყუთის ნომერი"
                          [(ngModel)]="filter.boxNumber" (keyup.enter)="fillPackageOnFilter(filter.boxNumber)"
                          (keyup.backspace)="fillPackageOnFilter(filter.boxNumber)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let item"> {{item.boxNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="packageNumber">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="პაკეტის ნომერი" matTooltipPosition="after">
                        <input matInput type="text" class="form-field" placeholder="პაკეტის ნომერი"
                          [(ngModel)]="filter.packageNumber" (keyup.enter)="fillPackageOnFilter(filter.packageNumber)"
                          (keyup.backspace)="fillPackageOnFilter(filter.packageNumber)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package"> {{package.packageNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="businessEntity">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="ბიზნეს ერთეული" matTooltipPosition="after">
                        <input matInput placeholder="ბიზნეს ერთეული" [(ngModel)]="filter.businessEntity"
                          (keyup.enter)="onFilter(filter.fileId)" (keyup.backspace)="onFilter(filter.fileId)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" tooltip="{{package.businessEntity}}"
                    [adaptivePosition]="false" placement="right"> {{package.businessEntity}} </td>
                </ng-container>

                <ng-container matColumnDef="customerName">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltipPosition="after">
                        <input matInput class="form-field" placeholder="კლიენტის დასახელება" [(ngModel)]="filter.clientName"
                          (keyup.enter)="fillPackageOnFilter(filter.clientName)" (keyup.backspace)="fillPackageOnFilter(filter.clientName)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package"> {{package.clientName}} </td>
                </ng-container>

                <ng-container matColumnDef="customerId">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline"  matTooltipPosition="after">
                        <input matInput type="text" class="form-field" placeholder="კლიენტის ID"
                          [(ngModel)]="filter.clientId " (keyup.enter)="fillPackageOnFilter(filter.clientId )"
                          (keyup.backspace)="fillPackageOnFilter(filter.clientId )">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.clientId}}">
                    {{package.clientId}} </td>
                </ng-container>
                <!-- <div class="bs_datepicker" matTooltip="დაწყების თარიღი" matTooltipPosition="after">
                  <input type="text" class="form-control"  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" #itemDate placeholder="&#xf073; {{'დაწყების თარიღი' }}"
                    style="font-size: 14px; font-family: Arial, FontAwesome" bsDatepicker
                    [(ngModel)]="filter.startDate"  (ngModelChange)="getDate(filter.startDate,'startDate')"
                    (keyup.backspace)="fillPackageOnFilter(filter.startDate)">
                </div> -->


                <ng-container matColumnDef="sentToDastaDate">
                  <th mat-header-cell *matHeaderCellDef style="width: 168px;">
                    <div class="bs_datepicker" matTooltipPosition="after">
                      <input type="text" class="form-control" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" #itemDate placeholder="&#xf073; {{'დასტაზე გადაცემის თარიღი' }}"
                        style="font-size: 14px; font-family: Arial, FontAwesome" bsDatepicker
                        [(ngModel)]="filter.sendToDastaDate" (ngModelChange)="getDate(filter.sendToDastaDate,'sendToDastaDate')"
                        (keyup.backspace)="fillPackageOnFilter(filter.sendToDastaDate)">
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package"> {{package.sendToDastaDate|date}} </td>
                </ng-container>
                
                <ng-container matColumnDef="errorStatus">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="ხარვეზის სტატუსი (დასტა)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.fileStatus}}">
                    {{package.fileStatus}} </td>
                </ng-container>

                <ng-container matColumnDef="errorStatusClient">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="ხარვეზის სტატუსი (კლიენტი)"
                        matTooltipPosition="after">
                        <input matInput type="number" class="form-field"
                          placeholder="ხარვეზის უახლესი სტატუსი (კლიენტი)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right"
                    tooltip="{{package.errorStatusFrmoClientName}}"> {{package.errorStatusFrmoClientName}} </td>
                </ng-container>

                <ng-container matColumnDef="clientComment">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="კლიენტის კომენტარი" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="კლიენტის კომენტარი">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.clientComment}}">
                    {{package.clientComment}} </td>
                </ng-container>

                <ng-container matColumnDef="dastaComment">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="დასტას კომენტარ" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="დასტას კომენტარი">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.dastaComment}}">
                    {{package.dastaComment}} </td>
                </ng-container>
                
                <ng-container matColumnDef="icons" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <i class="fa fa-check" style="cursor: pointer;" Tooltip="ვეთანხმები"
                      (click)="modalApproveNotApprove(element,true)"> </i>
                    <i class="fa fa-close" style="cursor: pointer;" Tooltip="ხელახლა გადამოწმება"
                      (click)="modalApproveNotApprove(element,false)"> </i>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayeFileColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayeFileColumns;"></tr>
                <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></tr> -->
              </table>
            </div>
            <mat-paginator [length]="totalRecords" [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]"
              showFirstLastButtons (page)="pagenation($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
  </mat-tab>
  <mat-tab label="საბუთი">
    <button class="btn downloadData" mat-raised-button  style="margin-left: 48px; margin-top: 10px;"
    matTooltip="მონაცემების გადმოწერა" (click)="DownloadDocument()">
<mat-icon>cloud_download</mat-icon>
მონაცემების გადმოწერა
</button>
    <div class="container">
        <div class="row">
          <div class="col-md-12 my-1">
            <div class="mat-elevation-z8 packageTable">
              <table mat-table [dataSource]="documentErrorStatus.result">
                <ng-container matColumnDef="boxNumber">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="ყუთის ნომერი" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="ყუთის ნომერი"
                          [(ngModel)]="filter.boxNumber" (keyup.enter)="fillPackageOnFilter(filter.boxNumber)"
                          (keyup.backspace)="fillPackageOnFilter(filter.boxNumber)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let item"> {{item.boxNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="packageNumber">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="პაკეტის ნომერი" matTooltipPosition="after">
                        <input matInput type="text" class="form-field" placeholder="პაკეტის ნომერი"
                          [(ngModel)]="filter.packageNumber" (keyup.enter)="fillPackageOnFilter(filter.packageNumber)"
                          (keyup.backspace)="fillPackageOnFilter(filter.packageNumber)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package"> {{package.packageNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="businessEntity">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="ბიზნეს ერთეული" matTooltipPosition="after">
                        <input matInput placeholder="ბიზნეს ერთეული" [(ngModel)]="filter.businessEntity"
                          (keyup.enter)="onFilter(filter.fileId)" (keyup.backspace)="onFilter(filter.fileId)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" tooltip="{{package.businessEntity}}"
                    [adaptivePosition]="false" placement="right"> {{package.businessEntity}} </td>
                </ng-container>

                <ng-container matColumnDef="customerName">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltipPosition="after">
                        <input matInput class="form-field" placeholder="კლიენტის დასახელება" [(ngModel)]="filter.clientName"
                          (keyup.enter)="fillPackageOnFilter(filter.clientName)" (keyup.backspace)="fillPackageOnFilter(filter.clientName)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package"> {{package.clientName}} </td>
                </ng-container>

                <ng-container matColumnDef="customerId">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline"  matTooltipPosition="after">
                        <input matInput type="text" class="form-field" placeholder="კლიენტის ID"
                          [(ngModel)]="filter.clientId " (keyup.enter)="fillPackageOnFilter(filter.clientId )"
                          (keyup.backspace)="fillPackageOnFilter(filter.clientId )">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.clientId}}">
                    {{package.clientId}} </td>
                </ng-container>

                <ng-container matColumnDef="sentToDastaDate">
                  <th mat-header-cell *matHeaderCellDef style="width: 168px;">
                    <div class="bs_datepicker" matTooltipPosition="after">
                      <input type="text" class="form-control" #itemDate placeholder="&#xf073; {{'დასტაზე გადაცემის თარიღი' }}"
                        style="font-size: 14px; font-family: Arial, FontAwesome" bsDatepicker
                        [(ngModel)]="filter.sendToDastaDate" (selectedChanged)="onFilter(filter.sendToDastaDate)"
                        (keyup.backspace)="onFilter(filter.sendToDastaDate)">
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package"> {{package.sendToDastaDate|date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="documentType">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="დოკუმენტის ტიპი" matTooltipPosition="after">
                        <input matInput class="form-field" placeholder="დოკუმენტის ტიპი" [(ngModel)]="filter.caseNumber"
                          (keyup.enter)="fillPackageOnFilter(filter.caseNumber)" (keyup.backspace)="fillPackageOnFilter(filter.caseNumber)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package"> {{package.documentType}} </td>
                </ng-container>
                
                <ng-container matColumnDef="checkResult">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="ხარვეზის სტატუსი (დასტა)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.documentStatus}}">
                    {{package.documentStatus}} </td>
                </ng-container>

                <ng-container matColumnDef="errorStatusClient">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="ხარვეზის სტატუსი (კლიენტი)"
                        matTooltipPosition="after">
                        <input matInput type="number" class="form-field"
                          placeholder="ხარვეზის უახლესი სტატუსი (კლიენტი)">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right"
                    tooltip="{{package.errorStatusFrmoClientName}}"> {{package.errorStatusFrmoClientName}} </td>
                </ng-container>

                <ng-container matColumnDef="clientComment">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="კლიენტის კომენტარი" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="კლიენტის კომენტარი">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.clientComment}}">
                    {{package.clientComment}} </td>
                </ng-container>

                <ng-container matColumnDef="dastaComment">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>
                      <mat-form-field appearance="outline" matTooltip="დასტას კომენტარ" matTooltipPosition="after">
                        <input matInput type="number" class="form-field" placeholder="დასტას კომენტარი">
                      </mat-form-field>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let package" placement="right" tooltip="{{package.dastaComment}}">
                    {{package.dastaComment}} </td>
                </ng-container>
                
                <ng-container matColumnDef="icons" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <i class="fa fa-check" style="cursor: pointer;" Tooltip="ვეთანხმები"
                      (click)="modalApproveNotApprove(element,true)"> </i>
                    <i class="fa fa-close" style="cursor: pointer;" Tooltip="ხელახლა გადამოწმება"
                      (click)="modalApproveNotApprove(element,false)"> </i>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayeDocumentColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayeDocumentColumns;"></tr>
                <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></tr> -->
              </table>
            </div>
            <mat-paginator [length]="totalRecords" [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]"
              showFirstLastButtons (page)="pagenation($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
  </mat-tab>

</mat-tab-group>
