<mat-card-content>
    <form>
      <div class="form-group">
        <label class="h6">კომენტარი</label>
        <div class="input-group" style="margin-top:5px">
          <input type="text" id="reason" class="form-control" [(ngModel)]="comment"  name="reason" #reason>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <button type="button" class="btn" (click)="onConfirm()">დადასტურება</button>
    <button type="button" class="btn" (click)="closePopup()">გაუქმება</button>
  </mat-card-footer>