<nav class="navbar navbar-light  navbar-custom justify-content">

    <img src="assets/Dastawhitelogo.png" class="navbar-brand mx-3 my-sm-0" alt="DastaLogo.png">
    <button class="mat-button" mat-button [matMenuTriggerFor]="menu">მომხმარებელი - {{decodedToken.unique_name}} <i class="fa fa-caret-down" aria-hidden="true"></i></button>
    <label class="company">კომპანია - {{decodedToken.CompanyName}}</label>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logOut()"><i class="fa fa-sign-out"> </i>გამოსვლა</button>
</mat-menu>
</nav>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <nav class="nav">
            <ul>
              <li><a [routerLinkActive]="['active']"
                [routerLink]="['newspacemanager']" [routerLinkActiveOptions]="{exact:true}" class="listhead">ახალი მოცულობები - მენეჯერი
              </a>
              </li>
              <li><a
                [routerLink]="['home']"class="listhead">ახალი მოცულობები - ოპერატორი
              </a>
              </li>
              <li><a [routerLinkActive]="['active']"
                     [routerLink]="['packageitem']" (click)="packageitem()" class="listhead">დეტალური შემოწმება - მენეჯერი 1
              </a>
              </li>
              <li><a [routerLinkActive]="['active']"
                [routerLink]="['home']" class="listhead">დეტალური შემოწმება - ოპერატორი
              </a>
              </li>
              <li><a [routerLinkActive]="['active']"
                [routerLink]="['drawback']" class="listhead">ხარვეზები
              </a>
              </li>
            </ul>
          </nav>
    </mat-drawer>
    <mat-drawer-content><router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>




